{%extends 'hood/base.html'%} 
{% load bootstrap4 %}
{% block content %}
<div class="container">

  <div class="row">
    {% if neighbourhood%}
      <h2>Found {{ post|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 items for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if neighbourhoods %}
    {% for neighbourhood in neighbourhoods %}
      <div class="col-sm-6 col-md-3">
          <h1>{{neighbourhood.name}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}